{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  <div class="project-metadata">
    <p><span class="metadata-label">Capabilities:</span></p>
    <ul>
      {{- range . }}
        <li><a href="{{ .RelPermalink }}">
          {{- if and (eq $taxonomy "capabilities") (eq $page.Type "projects") -}}
            {{ partial "format-capability.html" .LinkTitle }}
          {{- else -}}
            {{ .LinkTitle }}
          {{- end -}}
        </a></li>
      {{- end }}
    </ul>
  </div>
{{- end }}
