{{ range $key, $project := .Site.Data.uic }}

  {{ $content := dict
    "mediaType" "text/markdown"
    "value" $project.description.en.shortDescription
  }}

  {{ $page := dict
    "content" $content
    "kind" "page"
    "path" $key
    "title" $project.name
    "params" (dict "capabilities" $project.businessCapabilities.capabilities)
  }}

  {{ $.AddPage $page }}

{{ end }}
